  body {
    font-family: Sans-Serif;
    height: 768px !important; 
  }
  
  /* Style the footer */
  footer {
    text-align: center;
    background-color: #4CAF50;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.6em;
    padding-top: 0px;
  }
  
  main {
    float: left;
    padding-top: 5vh;
    padding-left: 5vh;
  }
  
  aside {
    float: right !important;
    height: 120vh;
    border: solid;
    border-color: gray;
    background-color: ghostwhite;
    margin-right: -1em;
    padding: 2vh;
    padding-top: 5vh;
  }
  
  a {
    background-color:transparent;-webkit-text-decoration-skip:objects
  }
  
  a:active,a:hover {
    outline-width:0
  }

  p {
    padding-top: 2vh;
  }


  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
  }

  .content {
    height: 100vh;
    margin-left: -8px;
  }

/* Style the navigation bar */
.navbar {
    top: 0;
    left: 0;
    background-color: #555;
    position: fixed;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
    /* Navbar links on mouse-over */
    .navbar a:hover {background-color: #000;}
  
    /* Current/active navbar link */
    .grean {background-color: #4CAF50;}

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  @media (max-width: 1024px) {
    .column {
      width: 100%;
      float: left !important;
    }

    aside {
      height: auto;
      margin-bottom: 5vh;
    }

    footer {
      font-size: 0.5em;
      width: 100%;
    }
  }